@function getRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: getRem(50);
  .card-item {
    padding: getRem(4) getRem(4) getRem(1);
    border: getRem(3) solid white;
    width: getRem(160);
    margin: getRem(20);
    -webkit-box-shadow: 0px -11px 10px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -11px 10px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -11px 10px 3px rgba(34, 60, 80, 0.2);
    &-image {
      border-radius: getRem(10);
      width: inherit;
      cursor: pointer;
      transition: 1s;
      &:hover {
        transform: scale(1.05);
      }
    }
    &-close {
      width: getRem(30);
      position: absolute;
      margin-left: getRem(145);
      margin-top: getRem(-15);
      z-index: 5;
      cursor: pointer;
    }
  }
}

.controll-panel {
  z-index: 10;
  font-family: "NewYork";
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: getRem(50);
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;

  button {
    cursor: pointer;
    font-size: getRem(20);
    background-color: rgb(67, 70, 255);
    border: 0;
    border-radius: getRem(5);
    padding: getRem(5) getRem(15);
    color: rgb(255, 255, 255);
    &:hover {
      border: getRem(1) solid white;
      background-color: rgb(9, 10, 112);
    }
  }
}
